.container {

}

nav {
    background-color: #fff;
    border-bottom: 1px solid #cccccc; 
    /* eventually change to border color  */
}
/* Blue around name */
.badge {
    background-color: #59aaa5;
    color: #fff;
    transition: none;
    margin: 0px;
}
.badge-secondary {
    background-color: #59aaa5;
    padding: 1rem;
}

/* About port and contact links  */
.btn-group {
    background-color: #fff;
    color: #cccccc;
    position: absolute;
    right: 0;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #fff;
    border: none;
    border-right: 1px solid #cccccc;
}

.btn-secondary {
    color: #fff;
    background-color: #fff;
    border: none;
    border-left: 1px solid #cccccc;
}

.btn.btn-secondary:hover {
    color: #fff;
    background-color: #fff;   
    box-shadow: none;
    border-right: 1px solid #cccccc;
}

/* Everything but contact */
.btn-group>.btn-group:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #cccccc;
}

/* Contact button */
.btn:last-child {
    border-left: 1px solid #cccccc;
}
 
/* This is the magical bit that gets the hover border off */
.btn:last-child:hover{
    border-right: none;
}

/* Makes links not blue  */
a {
    color: #cccccc;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

h1 {
    color: #59aaa5;
    padding-bottom: 1rem;
}

.jumbotron {
    background-color: #fff;
    display: inline-block;
    width: 100%;
}

/* Background pattern */
.wrapper {
    background-image: url('../images/greyfloral.png');
    width: 100%;
    padding: 2rem 1rem 20rem;
}

img {
    float: left;
    padding-right: 1rem;
    max-width: 200px;
}

.btn-blue {
    background-color: #59aaa5;
    padding: 0.5rem 1rem; 
    color: #fff;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}


#sticky-footer {
flex-shrink: none;
}