nav {
    background-color: #fff;
    border-bottom: 1px solid #cccccc; 
}

.navbar {
    padding: 0rem 1rem 1rem;
}
/* Blue around name */
.badge {
    background-color: #59aaa5;
    color: #fff;
    transition: none;
    margin: 0px;
}
.badge-secondary {
    background-color: #59aaa5;
    padding: 1rem;
}

/* About port and contact links  */
.btn-group {
    background-color: #fff;
    color: #cccccc;
    top: 8px;
}

.row {
    width: 100%;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #fff;
    border: none;
}


/* Makes links not blue  */
a {
    color: #cccccc;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

h1 {
    color: #59aaa5;
    padding-bottom: 1rem;
}

p {
    text-indent: 20px;
}

article {
    margin-bottom: 2rem;
}

.background {
    /* Background pattern */
    background-image: url('../images/greyfloral.png');
    width: 100%;
}


.jumbotron {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
}

.img-face{
    float: left;
    max-width: 150px;
    margin: 5px 10px 10px 10px;
}


.btn-blue {
    background-color: #59aaa5;
    padding: 0.5rem 1rem; 
    color: #fff;
}

.card {
    float: left;
    display: inline-block;
    margin: 1rem;
}

.badge-label {
    float: left;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    padding: 1rem;
    width: 100%;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin: -32px -16px;
}


#sticky-footer {
flex-shrink: none;
}
